{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link rel="icon" type="image/png" href="{% static 'appMap/img/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'appMap/css/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'appMap/css/leaflet/leaflet.css' %}" />
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'appMap/css/main.css' %}" />
  <script src="{% static 'appMap/js/leaflet/leaflet.js' %}"></script>
</head>

<body style="margin: 0%" class="dark">
  <nav class="sidebar">
    <header>
      <div class="image-text">
        <span class="image">
          <!--<img src="logo.png" alt="">-->
          <i class="bx bx-search icon bx-md iconClick"></i>
        </span>

        <div class="text logo-text">
          <span class="name">camelMap</span>
          <span class="profession">ENTER YOUR PATH</span>
        </div>
      </div>

      <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <li class="search-box">
          {% comment %} <i class="bx bx-search icon"></i> {% endcomment %}
          <input id="s" name="s" class="form-control" type="search" placeholder="From..." />
        </li>

        <li class="search-box openBoxTo">
          {% comment %} <i class="bx bx-search icon"></i> {% endcomment %}
          <input id="t" name="t" class="form-control" type="search" placeholder="To..." />
        </li>

        <div class="card mb-3 " style="max-width: auto; margin-top: 10px; margin-bottom: 0 !important;">
          <div class="card-header text">Search Strategy</div>
          <div class="card-body">
            <li class="li_checkbox">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="response_req" id="response_req_1"style="cursor: pointer;" checked>
                <label class="form-check-label text" for="response_req_1" style="cursor: pointer; font-weight: lighter;">Shortest path only</label>
              </div>
            </li>
            <li class="li_checkbox">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="response_req" id="response_req_2"
                  style="cursor: pointer;" value="option2">
                <label class="form-check-label text" for="response_req_2" style="cursor: pointer; font-weight: lighter;">Traversed points</label>
              </div>
            </li>
          </div>
        </div>


        <div class="card mb-3 "style="max-width: auto; margin-top: 12px !important;">
          <div class="card-header text">Algorithm</div>
          <div class="card-body">
            <li class="li_checkbox">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="algorithm_req" id="algorithm_req_1"
                  style="cursor: pointer;" checked>
                <label class="form-check-label text" for="algorithm_req_1" style="cursor: pointer; font-weight: lighter;">Bidirectional
                  Dijkstra</label>
              </div>
              </li>
            <li class="li_checkbox">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="algorithm_req" id="algorithm_req_2"
                  style="cursor: pointer;">
                <label class="form-check-label text" for="algorithm_req_2" style="cursor: pointer; font-weight: lighter;">Bidirectional
                  A*</label>
              </div>
            </li>
          </div>
        </div>
    
        <li>
          <button id="btnDoQuery" class="btn btn-outline-success buttonSearch">
            Search
          </button>
        </li>
      </div>

      <div class="bottom-content">
        <li class="">
          <a href="#">
            <i class="bx bx-log-out icon"></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>

        <li class="mode">
          <div class="sun-moon">
            <i class="bx bx-moon icon moon"></i>
            <i class="bx bx-sun icon sun"></i>
          </div>
          <span class="mode-text text">Light mode</span>

          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>
      </div>
    </div>
  </nav>
  <div id="mapid" style="height: 100vh"></div>

  <script src="{% static 'appMap/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'appMap/js/main.js' %}"></script>

  <script>
  // EFFECT NAVBAR APP
  function EffectApp()
  {
    const body = document.querySelector("body"),
      sidebar = body.querySelector("nav"),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      iconOpenMenu = body.querySelector(".iconClick"),
      searchTo = body.querySelector(".openBoxTo");
      modeText = body.querySelector(".mode-text");

    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    });

    searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
    });

    searchTo.addEventListener("click", () => {
      sidebar.classList.remove("close");
    });

    iconOpenMenu.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    });

    modeSwitch.addEventListener("click", () => {
      body.classList.toggle("dark");

      if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
      } else {
        modeText.innerText = "Dark mode";
      }
    });
  }
    
    
    //SET VIEW FOR MAP
    var myMap = L.map("mapid").setView([40.709642425352925, -74.28459538097772],10);

    //SET ICON
    var customIconSource = L.icon(
    {
      iconUrl: "{% static 'appMap/img/from_loc.png' %}",
      shadowUrl: "{% static 'appMap/img/leaf-shadow.png' %}",

      iconSize: [50, 50], // size of the icon
      shadowSize: [50, 50], // size of the shadow
      iconAnchor: [22, 50], // point of the icon which will correspond to marker's location
      shadowAnchor: [4, 62], // the same for the shadow
      popupAnchor: [-3, -76], // point from which the popup should open relative to the iconAnchor
    });

    var customIconTarget = L.icon({
      iconUrl: "{% static 'appMap/img/to32.png' %}",
      shadowUrl: "{% static 'appMap/img/leaf-shadow.png' %}",

      iconSize: [40, 40], // size of the icon
      shadowSize: [50, 50], // size of the shadow
      iconAnchor: [22, 40], // point of the icon which will correspond to marker's location
      shadowAnchor: [4, 62], // the same for the shadow
      popupAnchor: [-3, -76], // point from which the popup should open relative to the iconAnchor
    });

    
    var customIconF_Coor = L.icon({
      iconUrl: "{% static 'appMap/img/f16.png' %}",

      iconSize: [20, 20], // size of the icon
      shadowSize: [50, 50], // size of the shadow
      iconAnchor: [15, 20], // point of the icon which will correspond to marker's location
      shadowAnchor: [4, 62], // the same for the shadow
      popupAnchor: [-3, -76], // point from which the popup should open relative to the iconAnchor
    });

    var customIconR_Coor = L.icon({
      iconUrl: "{% static 'appMap/img/r16.png' %}",

      iconSize: [20, 20], // size of the icon
      shadowSize: [50, 50], // size of the shadow
      iconAnchor:[15, 20], // point of the icon which will correspond to marker's location
      shadowAnchor: [4, 62], // the same for the shadow
      popupAnchor: [-3, -76], // point from which the popup should open relative to the iconAnchor
    });
    //SET LAYERGROUP
    var layerGroup = L.layerGroup().addTo(myMap);
    var layerF = L.layerGroup().addTo(myMap);
     
    //FUNCTION ADD SOURCE AND TARGET
    function addCoorToSource(latParam, lngParam) {
      document.getElementById("s").value = lngParam + " " + latParam;
      layerGroup.clearLayers();
        L.marker([latParam, lngParam],{ icon: customIconSource })
            .addTo(layerGroup)
            .bindPopup("I am here.");  
    }

    function addCoorToTarget(latParam, lngParam) {
      document.getElementById("t").value = lngParam + " " + latParam;
        L.marker(target, { icon: customIconTarget })
            .addTo(layerGroup)
            .bindPopup("I am comming."); 
    }


    // ZOOM MAP
    myMap.zoomControl.setPosition("bottomright");
    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
      {
        attribution:'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken:"pk.eyJ1IjoiYmluaGx4YWcyNzMiLCJhIjoiY2t2Zzl6MWZ6NHoxajJvcTF4cXhqcjZhZSJ9.XVSeiLAFhpMzI10yrKQxCA",
      }).addTo(myMap);
  


    //POPUP
    myMap.on("contextmenu", function (e) {
      var popupContent =
        '<div class="btn-group-vertical" role="group" aria-label="Basic outlined example">' +
        '<button type="button" class="btn btn-outline-danger" onclick="addCoorToSource(' +
        e.latlng.lat +
        ", " +
        e.latlng.lng +
        ')">Add coordinate to source</button>' +
        '<button type="button" class="btn btn-outline-danger" onclick="addCoorToTarget(' +
        e.latlng.lat +
        ", " +
        e.latlng.lng +
        ')">Add coordinate to target</button>';
      ("</div>");

      L.popup((autoClose = false))
        .setLatLng(e.latlng)
        .setContent(popupContent)
        .addTo(layerGroup)
        .openOn(layerGroup)

    });



    function ActionHandleQueryResult(data) {
      const { error_code, msg, payload_data } = data;

      if (error_code == 0) {
        const payload = JSON.parse(payload_data);
        if (
          payload.hasOwnProperty("is_success") &&
          payload.hasOwnProperty("msg")
        ) {
          if (payload.success == false) {
            alert("coordinate out of bound!");
            return;
          }

          const coors = payload.msg.shortest_path_coors;
          var source = [coors[0][1], coors[0][0]];
          var target = [coors[coors.length - 1][1],coors[coors.length - 1][0],];

          var lines = [
            {
              type: "LineString",
              coordinates: coors,
            },
          ];

          layerGroup.clearLayers();
          layerF.clearLayers();

          L.geoJSON(lines).addTo(layerGroup);
          L.marker(source, { icon: customIconSource })
            .addTo(layerGroup)
            .bindPopup("I am here.");
          L.marker(target, { icon: customIconTarget })
            .addTo(layerGroup)
            .bindPopup("I am comming.");

          for(let i = 0; i < payload.msg.traverse_f_coors.length; i++)
          {
            var forward = payload.msg.traverse_f_coors[i];
            L.marker([forward[1],forward[0]], { icon: customIconF_Coor })
            .addTo(layerF);
          }
          for(let i = 0; i < payload.msg.traverse_r_coors.length; i++)
          {
            var reverse = payload.msg.traverse_r_coors[i];
            L.marker([reverse[1],reverse[0]], { icon: customIconR_Coor })
            .addTo(layerF);
          }

        }
      } else {
        alert("coordinate out of bound!");
      }
    }

    function DoQuery() {
      var s = document.getElementById("s").value;
      var t = document.getElementById("t").value;
      var response_req = document.getElementById("response_req_1").checked ? 1 : 2;
      var algorithm_req = document.getElementById("algorithm_req_1").checked ? 0 : 1;

      var s_arr = s.split(" ");
      var t_arr = t.split(" ");

      if (s_arr.length != 2 || t_arr.length != 2) {
        alert("source or destination is invalid!");
        return;
      }

      var slng = parseFloat(s_arr[0]);
      var slat = parseFloat(s_arr[1]);
      var tlng = parseFloat(t_arr[0]);
      var tlat = parseFloat(t_arr[1]);

      if (isNaN(slng) || isNaN(slat) || isNaN(tlng) || isNaN(tlat)) {
        alert("source or destination is invalid!");
        return;
      }

      const extd_api_url = "/api/query?slng=" +
        slng +
        "&slat=" +
        slat +
        "&tlng=" +
        tlng +
        "&tlat=" +
        tlat +
        "&response_req=" +
        response_req +
        "&algorithm_req=" +
        algorithm_req;

      fetch(extd_api_url)
        .then((response) => response.json())
        .then((data) => {
          ActionHandleQueryResult(data);
        })
        .catch((error) => console.warn(error));
    }

    // LAYERS CONTROL
    //   var OpenTopoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
    //   maxZoom: 17,
    //   attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
    // });
    // OpenTopoMap.addTo(myMap);
    // Google Map Layer
    //   googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
    //       maxZoom: 20,
    //       subdomains:['mt0','mt1','mt2','mt3']
    //   });
    // googleStreets.addTo(myMap);

    // Satelite Layer
    //   googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
    //     maxZoom: 20,
    //     subdomains:['mt0','mt1','mt2','mt3']
    //   });
    // googleSat.addTo(myMap);

    // OSM
      var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      });
      osm.addTo(myMap);

    /*===================================================
                      LAYER CONTROL               
    ===================================================*/

    var baseLayers = {
        // "Satellite":googleSat,
        // "Google Map":googleStreets,
        // "OpenStreetMap": osm,
    };

    L.control.layers(baseLayers).addTo(myMap);

    function Main() {
      document
        .getElementById("btnDoQuery")
        .addEventListener("click", function () {
          DoQuery();
        });
    }
    EffectApp();
    Main();
  </script>
</body>

</html>